---
import DashboardLayout from "../../layouts/DashboardLayout.astro";
import History from "../../components/dashboard/History.jsx";
---

<DashboardLayout>
  <div class="max-w-4xl ml-0 md:ml-20">
    <h1 class="text-3xl font-bold mb-2 text-[#00ADB5]">History</h1>
    <p class="text-gray-600 mb-6">
      View your recent code operations and access your saved snippets.
    </p>

    <div class="bg-white p-6 rounded-lg shadow-md">
      <History client:load />
    </div>
  </div>
</DashboardLayout>
